* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}
h4{
    margin:0;
}
body {
    background: url("/static/img/banner.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hair {
    font-size: 10px;
    line-height: 10px;
    padding: 5px;
    letter-spacing: 1px;
    background: #30363e;
    color: #fff;
}

.hair a {
    color: #eee;
}

.hair p {
    float: right;
    margin-right: 50px;
}

.hair:after {
    content: "";
    display: block;
    clear: both;
}

.header {
    background: rgba(0, 0, 0, .4);
    color:#fff;
}

.content {
    /*background: rgba(255, 255, 255, 1);*/
    /*color:#000;*/
    width: 100%;
    background:#fff;
    padding-top:50px;
}
.navbar ul {
    margin: 0;
    height: 50px;
    list-style: none;
    float: right;
}

.navbar ul li, .navbar .logo {
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;
}

.navbar ul li a {
    line-height: inherit;
    display: inline-block;
    height: inherit;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

.navbar ul li a:hover {
    color: rgba(255, 255, 255, .5);
}

.logo {
    padding: 0 20px;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 700;
}

.logo a {
    color: #ffffff;
    text-decoration: none;
}
.footer {
    padding: 50px;
    text-align: center;
    color: #f9fafb;
    line-height: 30px;
    background: #20252aee;
}

.footer-content {
    line-height: 30px;
}

.footer-content a {
    color: #fff;
}

.footer-content img {
    position: relative;
    top: -2px;
    width: 15px;
    height: 15px;
}

.topic{
    display:flex;
    vertical-align: center;
}
.uk-grid-small>*{
    padding:0;
}
.topic{
    padding-left:5%;
}
.topic>div:nth-child(even){
    margin:0 20px;
}